<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hafedh Insurance</title>
</head>
<body>
    


<h1>Simulations de charges prises </h1>

<form action="{{ url_for('predict_datapoint')}}" method="post">
    <label for="gender">Donner Votre Genre  </label>
            <select id="gender" name="sex" placeholder="Entrer votre genre" required>
                <option value="male">masculin</option>
                <option value="female">feminin</option>
            </select>
    <br>
    <br>
    <label  for="age">Votre Age </label>
    <input id="age" type="number" min=18 max=100 name="age" placeholder=30 required>
    <br>
    <br>
    <label  for="weight">Votre Poids en Kg</label>
    <input id="weight" type="number" min=20 max=130 name="weight" placeholder=70 required>
    <br>
    <br>
    <label  for="height">Votre hauteur en m</label>
    <input id="height" type="number" min=0.5 max=2.5 step=0.01  name="height" placeholder=1.7 required>
    <br>
    <br>
    <label  for="children">Donner le nombre de vos enfants </label>
    <input id="children" type="number" min=0 max=15 name="children" placeholder=0 required>
    <br>
    <br>
    <label for="smoke">Est ce que vous fumez?  </label>
    <select id="smoke" name="smoker" placeholder="non" required>
        <option value="yes">oui</option>
        <option value="no">non</option>
    </select>
    <br>
    <br>
    <label for="region">Quelle est votre region  </label>
        <select id="region" name="region" placeholder="northeast" required>
            <option value="northeast">nord-est</option>
            <option value="northwest">nord-west</option> 
            <option value="southeast">south-est</option>
            <option value="southwest">south-west</option>    
        </select>
    <br>
    <br>
        <input type="submit" value="Cliquer pour estimer la charge du client " required /> 
        <p>Les charges prvévues pour le clients en question valent {{results}} $</p> 
</body>

</form>
</html>